/* GENERAL WINDOW STYLES */
button:hover {
  cursor: pointer;
}

.timer {
  position: fixed;
  border-radius: 15px;
  margin: 3em;
  top: -5%;
  left: 5%;
  border: 2px solid rgba(255,0,0,.29);
  padding: 1em;
  background-color: white;
}

/* PHRASE BOX STYLE */
.phrase-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  min-width: 20%;
  width: auto;
  height: 9em;
  margin: 0.5em;

  border-radius: 0.5em;
  text-align: center;
}

.bottom-container {
  position: relative;
  bottom: 0.2em;
  display: flex;
  justify-content: center;
  height: 40%;
}

.top-container {
  padding: 10px;
}

.timestamp {
  margin-right: 0.2em;
  font-size: 12px;
  vertical-align: text-bottom;

  padding-top: 25px;
  padding-right: 5px;
}

.vote-buttons {
  margin: auto auto auto 0.4em;
}

.vote-btn {
  width: 2em;
  height: 2em;
  margin: 15px 2px 2px;
  border-radius: 4px;
  font-size: 14px;
}

/* WORD BOX STYLE */
.word {
  font-size: 12px;
  text-align: center;
  background-color: darkgray;
  margin: 1.5em 0.5em 0.8em;
  border-radius: 0.5em;
  display: table;
  padding: 10px;
}

.word:hover {
  cursor: pointer;
}

#backspace-key {
  width: 3em;
  background-color: #fa3a37;
  color: white;
}

.header-logo {
  display: flex;
  position: sticky;
  justify-content: center;
  top: 1.5em;
  background: white;
}

.header-logo h1 {
  font-family: sans-serif;
  color: darkgrey;
}

/* COLLECTION OF PHRASES STYLE */
.collection-of-phrases {
  margin: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* USER INPUT STYLE */
.user-input {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 3px gray solid;
  padding-top: 1em;
}

.user-input-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 20%;
  height: 3em;
  margin: auto;
  background-color: HSL(0, 10%, 25%);
  color: #fff;
  border-radius: 10px;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

.submit-button:hover {
  background-color: HSL(0, 80%, 30%);
}

.input-phrasebox {
  width: 50%;
  margin: auto;
}

.word-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

