/* GENERAL WINDOW STYLES */
button:hover {
  cursor: pointer;
}



/* PHRASE BOX STYLE */
.phrase-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  min-width: 20%;
  width: auto;
  height: 9em;
  margin: 0.5em;

  border-radius: 0.5em;
  text-align: center;
}

.bottom-container {
  position: relative;
  bottom: 0.2em;
  display: flex;
  justify-content: space-between;
  height: 40%;
}

.top-container {
  padding: 10px;
}

.timestamp {
  margin-right: 0.2em;
  font-size: 12px;
  vertical-align: text-bottom;

  padding-top: 25px;
  padding-right: 5px;
}

.vote-buttons {
  margin: auto auto auto 0.4em;
}

.vote-btn {
  width: 2em;
  height: 2em;
  margin: 15px 2px 2px;
  border-radius: 4px;
  font-size: 14px;
}

/* WORD BOX STYLE */
.word {
  min-width: 4em;
  font-size: 12px;
  text-align: center;
  background-color: darkgray;
  margin: 1.5em 0.5em 0.8em;
  border-radius: 0.5em;
  display: table;
  padding: 10px;
}

.word:hover {
  cursor: pointer;
}

#backspace-key {
  width: 3em;
  background-color: #fa3a37;
  color: white;
}



/* COLLECTION OF PHRASES STYLE */
.collection-of-phrases {
  margin: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* USER INPUT STYLE */
.user-input {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 3px solid aqua;
  background-color: white;
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-input-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.submit-button {
  width:10%;
  margin:auto;
}

.input-phrasebox {
  width: 50%;
  margin: auto;
}

.word-box-container {
  display: flex;
  justify-content: center;
}

